@font-face {
font-family: "Renua Trials";
src: url(fonts/RanuaTrials-Medium.ttf);
}
html {
    scroll-behavior: smooth;
  }
*{
    margin: 0;
    padding: 0;

}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: url(image/edor.gif);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 48px 80px;
    justify-content: space-evenly;
    align-items: top;
}
nav img{
    
    width: 159px;
    padding: 0px 60px;
    align-items: left;
    margin: 5px 5px;
}
.nav-links{
    flex: 1;
    text-align: center;
    scroll-behavior: smooth;

}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 25px 60px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-family: 'Montserrat';
    font-style: bold;
    font-weight: 590px;
    font-size: 23;
}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background-color: white;
    display: block;
    margin:auto;
    transition: 0.7s;
}
.nav-links ul li:hover:after{
    width: 100%;
}
.line{
    border-top: 1px solid rgba(255, 255, 255, 0.678);
    margin: -35px 195px;
    max-width: relative;
    display: block;
}
.vl{
    border-left: 1px solid rgba(255, 255, 255, 0.678);
    height: 70px;
    margin-top: -83px;
    margin-left: 78%;
}
.ss{
position: absolute;
width: 250px;
height: 61px;
left: 661px;
top: 448px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 61px;
/* identical to box height, or 156% */

text-align: justify;
letter-spacing: 0.03em;

color: #FFFFFF;

    
}
.bd{
    position: absolute;
    width: 1438px;
    height: 139px;
    left: 46px;
    top: 507px;
    
    font-family: 'Ranua Trials';
    font-style: normal;
    font-weight: 300px;
    font-size: 38px;
    line-height: 107px;
    text-align: center;
    
    color: #FFFFFF;
    
}
.sub{
    color: #fff;
    font-family: 'Nunito', sans-serif;
    text-decoration: none;
    margin: 415px 450px;
    padding: 80px 10px;
    font-size: 18px;
    align-items: middle;
    max-width: 100%;
}
.about{
    max-height: 150vh;
    width: 80%;
    margin:auto;
}
.aboutmain{
    color: black;
    font-family: Renua Trials;
    font-weight: 700px;
    font-size: 45px;
    margin: 100px -90px;
    display: inline-block;
}
.subabout{
    color: rgba(0, 0, 0, 0.848);
    font-family: 'Montserrat';
    font-weight: 150px;
    font-size: 18px;
    max-width: 580px;
    margin: -43px -90px;
    text-align: justify;
    line-height: 40px;
}
.subimg img{
    width: 550px;
    margin: -350px 10px 10px 60%;
}
.lin{
    border-top: 11px solid rgba(185, 185, 185, 0.87);
    margin: -790px -90px;
    max-width: 320px;
    display: block;
}

.ourvision{
    color: black;
    font-family: Renua Trials;
    font-weight: 700px;
    font-size: 28px;
    margin: 80px -90px;
    display: inline-block;
}
.visionabout{
    color: rgba(0, 0, 0, 0.848);
    font-family: 'Montserrat';
    font-weight: 150px;
    font-size: 18px;
    max-width: 580px;
    margin: -40px -98px;
    line-height: 40px;
    padding: 13px;
    text-align: justify;
}
.lin88{
    border-top: 11px solid rgba(185, 185, 185, 0.87);
    margin: 385px 86px;
    max-width: 210px;
}

.edn{
    color: rgba(0, 0, 0, 0.848);
    font-family: 'Montserrat';
    font-weight: 300px;
    font-size: 12px;
    max-width: 700px;
    margin: 4px -90px;
    text-align: justify;
    line-height: 50px;
}
.work{
    min-height: 150vh;
    width: 100%;
    background-color: #F4F4F4;
}


.scrollmenu{

    margin: 100px, 120px;
    padding: 40px 60px;
    background-color: #F4F4F4;
    width: 1400px;
    overflow: auto;
    white-space: nowrap;
}
::-webkit-scrollbar {
    width: 2px;

  }
  ::-webkit-scrollbar-track {
    border-radius: 1px;
    background: #3c3c3c;
    border-radius: 2px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(216, 216, 216);
    border-radius: 4px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(188, 184, 184);
  }
.lin3{
    border-top: 11px solid rgba(185, 185, 185, 0.87);
    margin: 960px 60px;
    max-width: 360px;
    display: block;
}

.button2{
    display: inline-block;
    text-decoration: none;
    color: rgb(0, 0, 0);
    border: 1px solid rgb(0, 0, 0);
    margin: 870px 70px 80px 1230px;
    width: 180px;
    padding: 10px 20px;
    border-radius: 5px;
    font-family: 'Montserrat';
    font-weight: 500px;
    font-size: 28px;
    background: transparent;
    position: relative;
    cursor: pointer;
    text-align: center;
}
.button2:hover{
    border: 1px solid #666161;
    background: #666161 ;
    transition: 1.2s;
}
.ednee{ 
    color: rgba(0, 0, 0, 0.848);
    font-family: 'Montserrat';
    font-weight: 300px;
    font-size: 12px;
    max-width: 700px;
    margin: 150px 5px 200px 50px;
    padding: 20px 20px;
}
.reviews{
    min-height: 5vh;
    width: 100%;
    background-color: #ffffff;
}
.rev .heading{
    color: rgba(0, 0, 0, 0.848);
    font-weight: 700px;
    font-size: 45px;
    font-family: 'Renua Trials';
    padding: 170px 50px;
}
.lin4{
    border-top: 11px solid rgba(185, 185, 185, 0.87);
    margin: -150px 55px;
    max-width: 430px;
    display: block;
}
.box{
    background-color: #7777778e;
    width: 500px;
    height: 200px;
    margin: 300px 50px;
    border-radius: 12px;
    padding: 20px;
}
.Mark{
    color: rgba(0, 0, 0, 0.848);
    font-weight: 700px;
    font-size: 25px;
    font-family: Renua Trials;
    margin: 5px 70px;
    padding: 5px 10px
}
.client{
    color: rgba(138, 133, 133, 0.848);
    font-weight: 700px;
    font-size: 20px;
    font-family: Renua Trials;
    margin: -20px 70px;
    padding: 10px 10px;
}
.content{
    color: rgba(0, 0, 0, 0.848);
    font-size: 15px;
    font-family: 'Montserrat';
    margin: 100px 70px;
    padding: 10px 10px;
    line-height: 28px;
}
.markimg{
    margin: -80px 10px;
}

.box2{
    background-color: #7777778e;
    width: 500px;
    height: 200px;
    margin: -100px 50px;
    border-radius: 12px;
    padding: 20px;
}
.Mark2{
    color: rgba(0, 0, 0, 0.848);
    font-weight: 700px;
    font-size: 25px;
    font-family: Renua Trials;
    margin: 5px 70px;
    padding: 5px 10px
}
.client2{
    color: rgba(138, 133, 133, 0.848);
    font-weight: 700px;
    font-size: 20px;
    font-family: Renua Trials;
    margin: -20px 70px;
    padding: 10px 10px;
}
.content2{
    color: rgba(0, 0, 0, 0.848);
    font-size: 15px;
    font-family: 'Montserrat';
    margin: 100px 70px;
    padding: 10px 10px;
    line-height: 28px;
}
.markimg2{
    margin: -80px 10px;
}
.box3{
    background-color: #7777778e;
    width: 500px;
    height: 200px;
    margin: -680px 900px;
    border-radius: 12px;
    padding: 20px;
}
.Mark3{
    color: rgba(0, 0, 0, 0.848);
    font-weight: 700px;
    font-size: 25px;
    font-family: Renua Trials;
    margin: 5px 70px;
    padding: 5px 10px
}
.client3{
    color: rgba(138, 133, 133, 0.848);
    font-weight: 700px;
    font-size: 20px;
    font-family: Renua Trials;
    margin: -20px 70px;
    padding: 10px 10px;
}
.content3{
    color: rgba(0, 0, 0, 0.848);
    font-size: 15px;
    font-family: 'Montserrat';
    margin: 100px 70px;
    padding: 10px 10px;
    line-height: 28px;
}
.markimg3{
    margin: -80px 10px;
}
.box4{
    background-color: #7777778e;
    width: 500px;
    height: 200px;
    margin: 880px 900px;
    border-radius: 12px;
    padding: 20px;
}
.Mark4{
    color: rgba(0, 0, 0, 0.848);
    font-weight: 700px;
    font-size: 25px;
    font-family: Renua Trials;
    margin: 5px 70px;
    padding: 5px 10px
}
.client4{
    color: rgba(138, 133, 133, 0.848);
    font-weight: 700px;
    font-size: 20px;
    font-family: Renua Trials;
    margin: -20px 70px;
    padding: 10px 10px;
}
.content4{
    color: rgba(0, 0, 0, 0.848);
    font-size: 15px;
    font-family: 'Montserrat';
    margin: 100px 70px;
    padding: 10px 10px;
    line-height: 28px;
}
.markimg4{
    margin: -80px 10px;
}


.Contact{
    margin: -500px 0px;
    max-height: 180vh;
    width: 100%;
    background-color: #0f0f0f;
}
.conthead{
    color:#f1f1f1;
    font-family: 'Renua Trials';
    font-size: 45px;
    padding: 170px 50px;
}
.lin5{
        border-top: 11px solid rgba(185, 185, 185, 0.87);
        margin: 20px 0px;
        max-width: 385px;
        display: block;
}
.first_name{
    color: #f1f1f1;
    font-family: 'Nunito';
    margin: -70px 50px ;
}
input[type=text] {
    width: 18%;
    padding: 12px 5px;
    margin: 2px 48px;
    box-sizing: border-box;
    background-color: #666161;
    border-radius: 7px;
    color: #f1f1f1;
    font-family: 'Nunito' ;
    border-color: #666161;
  }
.last_name{
    color: #f1f1f1;
    font-family: 'Nunito';
    margin: 34.5px 480px;
}
input[type=text2]{
    width: 18%;
    padding: 12px 2px;
    margin: 1px 105px;
    box-sizing: border-box;
    background-color: #666161;
    border-radius: 7px;
    color: #f1f1f1;
    font-family: 'Nunito' ;
    border-color: #666161;
    position:absolute;
}
.phone_no{
    color: #f1f1f1;
    font-family: 'Nunito';
    margin: 130px 60px;
}

input[type=tel]{
    width: 18%;
    padding: 12px 2px;
    margin: 195px 55px;
    box-sizing: border-box;
    background-color: #666161;
    border-radius: 7px;
    color: #f1f1f1;
    font-family: 'Nunito' ;
    border-color: #666161;
    position:absolute;
}
.email{
    color: #f1f1f1;
    font-family: 'Nunito';
    margin: -160px 485px;
}

input[type=email]{
    width: 18%;
    padding: 12px 2px;
    margin: 195px 480px;
    box-sizing: border-box;
    background-color: #666161;
    border-radius: 7px;
    color: #f1f1f1;
    font-family: 'Nunito' ;
    border-color: #666161;
    position:absolute;
}
.map{
    margin: -340px 980px;
}
form button{
    display: inline-block;
    text-decoration: none;
    color: rgb(255, 255, 255);
    border: 1px solid #2c2b2b;
    background-color: #2c2b2b;
    margin: 290px 565px;
    width: 150px;
    padding: 10px 20px;
    border-radius: 5px;
    font-family: 'Montserrat';
    font-weight: 500px;
    font-size: 22px;
    position: relative;
    cursor: pointer;
    text-align: center;
}
.last_Box{
background-color:#1f1f1f;
height:135px;
width:100%;
margin: -93px 1px;
filter:drop-shadow(0px 4px 19px rgba(0.01666666753590107,0.01666666753590107,0.01666666753590107,0.27000001072883606));
}
.text{
    color: #f1f1f1;
    font-family: 'Montserrat' ;
    font-size: small;
    padding: 30px;
    margin-top: 30px;
}
.mail{
    color: #f1f1f1;
    font-family: 'Montserrat' ;
    font-size: small;
    padding: -15px 40px;
    margin: -9px 29px;
}
.vli {
    border-left: 2px solid rgb(182, 179, 179);
    height: 100px;
    margin:-83px 360px
  }
.text2{
        color: #f1f1f1;
        font-family: 'Montserrat' ;
        font-size: small;
        padding: 30px;
        margin:-120px 380px;
        max-width: 250px;
        line-height: 27px;
}
.vli2 {
    border-left: 2px solid rgb(182, 179, 179);
    height: 100px;
    margin:-83px 680px
  }
.header23
  {
    min-height: 200vh;
    width: 100%;
    background-color: #F4F4F4;
  }
.womain2{
        color: rgba(0, 0, 0, 0.848);
        font-family: 'Montserrat';
        font-weight: 700px;
        font-size: 45px;
        font-family: Renua Trials;
        margin: 1px 45px;
        padding: 120px 34px;
    }
    .lin6{
        border-top: 11px solid rgba(185, 185, 185, 0.87);
        margin: -110px 80px;
        max-width: 370px;
        display: block;
    }
    .Interior
    {
        font-family: "Inter";
        font-size: 28px;
        margin: 230px 80px;
        font-weight: 100px;
    }
    .lin7{
        border-top: 8px solid rgba(185, 185, 185, 0.87);
        margin: -225px 80px;
        max-width: 149px;
        display: block;
    }
    .lin8{
    border-left: 2px solid rgb(182, 179, 179);
    height: 80px;
    margin: 153px 270px;
    }

    .Exterior
    {
        color: #6b6666c0;
        font-family: "Inter";
        font-size: 28px;
        margin: -225px 310px;
        font-weight: 100px;
    }

    .row2 {
        display: flex;
      }
      
      .column2
      {
        flex: 40.33%;
        margin: 360px 65px;
        padding: 12px;
      }

      .row3 {
        display: flex;
      }
      .column3{
        flex: 40.33%;
        margin: -260px 65px;
        padding: 12px;
      }
      .row4 {
        display: flex;
        flex-direction: column
      }
      .column4{
        display: flex;
    
      }
